test_format = 1.0

[default]


    # ------------
    # Tests to run
    # ------------

    exclude = ["change_url"]

    # -------------------------------
    # Default args to use for install
    # -------------------------------

    test_upgrade_from.cf0d58f554f48decc9d7e98a1357b13baa337982.name = "Upgrade from 25.10.16~ynh1"

