test_format = 1.0

[default]


    # ------------
    # Tests to run
    # ------------

    exclude = ["change_url"]

    # -------------------------------
    # Default args to use for install
    # -------------------------------

    test_upgrade_from.00ccbbeb7e3da0209698ff12cdeb274a27f048af.name = "Upgrade from 23.11.14~ynh1"

